
.host-btn, .section-3-btn a{
    background: #6246E5;
    color: white !important;
    border-radius: var(--border-radius);
    padding: 8px 30px;
    font-weight: bold;
    font-size: 18px;
}
.ask-host-btn{
    margin-left: 20px;
}
.section-1-header{
    width: 430px;
    margin: 0px auto;
    text-align: center;
    font-size: 45px;
    font-weight: bold;
}
.section-1-imgs{
    --col-number: 4;
    --space-col: 20px;
}
.section-1-item{
    border-radius: var(--border-radius);
    overflow: hidden;
    width: 100%;
    min-width: 200px;
    max-width: 400px;
}
.section-1-item-img{
    width: 100%;
    max-height: 400px;
}
.section-1-quote{
    color: var(--black-color);
    font-size: 28px;
}

.prev, .next {
    cursor: pointer;
    width: auto;
    position: relative;
    top: -60px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
}

.quote-content{
    margin: 0px auto;
    text-align: justify;
    width: 500px;
}
.quote-content div:last-child{
    font-size: 18px;
}
.quote-btn i{
    color: var(--black-color);
}
.section-2-img{
    position: relative;
    z-index: 1;
    width: 100%;
    max-height: 600px;
    border-radius: var(--border-radius);
    overflow: hidden;
}
.section-2-img img{
    max-width: 100%;
    height: auto;
    transition: 1s;
}
.section-2-img img:hover{
    transform: scale(1.1);
}
.local-section-2{
    position: relative;
}

.section-2-content{
    text-align: center;
    position: relative;
    z-index: 2;
    top: -400px;
}
.section-2-header{
    font-size: 38px;
    font-weight: bold;
    color: var(--white-color);
    margin-bottom: 20px;
}
.section-2-btn a{
    font-size: 20px;
    font-weight: bold;
    background-color: var(--white-color);
    padding: 8px 40px;
    border-radius: var(--border-radius);
}

.local-section-3{
    --col-number: 3;
    --space-col: 0;
    position: relative;

}
.local-section-3 .row{
    border-radius: var(--border-radius);
    overflow: hidden;
    /* max-height: 600px; */
    /* width: 100%; */
}
.local-section-3 .col{
    flex: 50%;
}
.section-3-img{
    width: 100%;    
    max-height: 600px;

}
.local-section-3 .col:last-child{
    background-color: black;
}
.section-3-content{
    text-align: center;
    margin-top: 200px;
    color: var(--white-color);
}
.section-3-header div:first-child{
    font-weight: bold;
    font-size: 48px;
}
.section-3-btn{
    margin-top: 30px;
    margin-bottom: 200px;
}