
.header {
    position: relative;
}

/* ===================== FILTER =================== */
.filter{
    padding-top: 50px;
    font-size: 14px;
    text-align: center;
}
.filter a:hover{
    font-weight: bold;
    cursor: pointer;
}
.filter-content{
    position: relative;
    left: 300px;
}


/* =================== ITEMS GALLERY =================== */
.hotel-gallery{
    --col-number:4;
    --space-col: 25px;
    margin-top: 20px;

}
.hotel-item{
    background: #EDEDED;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
}
/* .hotel-item-img{
    max-width: 260px;
     max-height: 140px; 
} */
.hotel-item-img img{
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 25px;
    max-width: 336px;
     max-height: 175px; 
}
.hotel-item-info{
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
}
.hotel-item-info div:not(:last-child){
    margin-bottom: 3px;
}
.hotel-item-rate{
    font-weight: normal;
}
.hotel-item-rate i{
    color: yellow;
}
.hotel-item-price{
    font-size: 18px;
    font-weight: bold;

}
.page-number{
    margin-bottom: 30px;
}
.page-number-list{
    display: flex;
    font-weight: bold;
    font-size: 18px;
    justify-content: center;
}
.page-number-list a{
    margin-right: 25px;
}

