
.header {
    position: relative;
}
.fa-globe{
    color: #021630;
}
/* ===================== FILTER =================== */
.filter{
    width: 100%;
    background: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8px);
    padding-top: 20px;
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    z-index: 12;
    display: none;
}
.filter-button{
    padding-top: 50px;
    font-size: 15px;
    display: block;
    text-align: center;
    margin-left: 400px;
    margin-bottom: 40px;
}
.filter-button:hover{
    font-weight: bold;
}
.filter .container{
    width: 300px;
    margin: 0 auto;
}
.filter-title{
    font-weight: bold;
    text-align: center;
    font-size: 18px;
}
.filter-section__title{
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px ;
}
.filter-section {
    font-size: 16px;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
.filter-section__price{
    display: flex;
    justify-content: space-between;
}
.filter-section__checkbox{
    float: left; 
    margin-left: 20px;
}
.filter hr{
    margin: 10px auto;
}
.range-wrap{
    position: relative;
    padding-bottom: 20px;
}
.range{
    width: 100%;
}
.number{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
/* .number::after {
    content: "";
    position: absolute;
    width: 2px;
    height: 2px;
    top: 15px;
    left: 50%;
  } */
.filter-submit{
    width: 100%;
    padding: 5px 0px;
    background: #0075ff;
    border-radius: 30px;
    font-weight: bold;
    color: white;
}
/* =================== ITEMS GALLERY =================== */
/* .hotel-gallery{
    display: block;
    align-items: center;
} */
.hotel-gallery input{
    display: none;
}
.hotel-item{
    float: left;
    width: 30%;
    background: #EDEDED;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    margin-left: 40px;
    margin-bottom: 40px;
}
/* .hotel-item-img{
    max-width: 260px;
     max-height: 140px; 
} */
.hotel-item-title div{
    font-size: 1vw;
}
.hotel-item-img img{
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 25px;
    /* max-width: 336px;
    max-height: 175px;  */
}
.hotel-item-info{
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    
}
.hotel-item-info div:not(:last-child){
    margin-bottom: 3px;
}
.hotel-item-rate{
    font-weight: normal;
}
.hotel-item-rate i{
    color: yellow;
}
.hotel-item-price{
    font-size: 18px;
    font-weight: bold;

}
.page-number{
    margin-bottom: 30px;
}
.page-number-list{
    font-weight: bold;
    font-size: 18px;
}
dir-pagination-controls ul{
    justify-content: center;
}
dir-pagination-controls li{
    padding: 10px;
}
dir-pagination-controls li:hover{
    text-decoration: underline;
}