@media(min-width: 1024px) and (max-width: 1239px) {


    /* ========LOCAL HOST========= */
    .local-section-3 .section-3-btn{
        margin-bottom: 180px;
    }
    .local-section-3 .section-3-content{   
        margin-top: 180px;
    }
}

@media (min-width: 740px) and (max-width: 1023px) {
   /* ========LOCAL HOST========= */
    .local-section-3 .section-3-btn{
        margin-bottom: 150px;
    }
    .local-section-3 .section-3-content{   
        margin-top: 150px;
    }
    
}

@media (max-width: 739px) {
    /* ==========MAIN SITE========== */
    .section-item{
        padding: 0px 10px ;
    }
     .section-item__heading{
        display: block;
        text-align: center;
    }
    .section-item-4{
        --col-number: 1;
        --space-col: 0;
    }

    /* ========LOCAL HOST========= */
    /* .local-section-3 .section-3-btn{
        margin-bottom: 120px;
    }
    .local-section-3 .section-3-content{   
        margin-top: 120px;
    } */
}

@media (max-width: 450px) {
    *{
        /* overflow-x: hidden; */
    }
    .wide{
        max-width: 350px;
    }
    .section-item:not(:last-child){
        margin-bottom: 20px;
    }
    /* ====== SEARCH RESULT ======= */
    
    .filter-content{
        left: 100px;
    }
    .hotel-gallery{
        --col-number: 1;
        --space-col: 0px;
    }
    .hotel-item{
        margin: 20px auto;
        max-width: 300px;
    }
    .hotel-item-title div{
        font-size: 4vw;
    }
    .slides{
        position: relative;
        width: 100%;
        height: 900px;
    }
    .slide{
        position: absolute;
        top: 0px;
        opacity: 0;
        pointer-events: none;
        transition: opacity 1s;
    }
    .page-number-list {
        display: flex;
        justify-content: center;
    }
    .manual-btn {
        background-color: #E5E5E5;
        padding: 5px;
        height: 15px;
        width: 15px;
        cursor: pointer;
        border-radius: 50%;
        transition: background-color 0.6s ease;
    }
    
    .manual-btn:hover {
        background-color: #39425D;
    }
    
    .manual-btn:not(:last-child) {
        margin-right: 15px;
    }
    
    #radio1:checked~.slider .slides .slide-1,
    #radio2:checked~.slider .slides .slide-2,
    #radio3:checked~.slider .slides .slide-3,
    #radio4:checked~.slider .slides .slide-4,
    #radio5:checked~.slider .slides .slide-5 {
        opacity: 1;
        pointer-events: auto;
    }
    
    #radio1:checked~.page-number-list label[for="radio1"],
    #radio2:checked~.page-number-list label[for="radio2"],
    #radio3:checked~.page-number-list label[for="radio3"],
    #radio4:checked~.page-number-list label[for="radio4"],
    #radio5:checked~.page-number-list label[for="radio5"] {
        background-color: #39425D;
    }

    /* ====== LOCAL HOST ====== */
    .host-btn{
        font-size: 10px;
        padding: 2px 10px;
    }
    .local-host-header{
        margin-bottom: 0px;
    }
    .local-host-header .header__logo-link img{
        width: 120px;
    }
    .ask-host-btn{
        margin-left: 10px;
    }
    .section-1-header{
        width: 250px;
        font-size: 25px;
    }
    .section-1-imgs{
        --col-number: 1;
        --space-col: 0px;
    }
    .section-1-img-item{
        max-width: 250px;
        max-height: 250px;
    }
    .slideshow-container{
        width: 80%;
        height: 250px;
        margin: 10px auto; 
        position: relative;
    }
    .mySlides {
        position: absolute;
        top: 0px;
        opacity: 0;
        pointer-events: none;
        transition: opacity 1s;
    }
    .quote-content{
        font-size: 15px;
        margin: 0 auto;
        width: 250px;
    }
    .quote-content div:last-child{
        font-size: 12px;
    }
    .section-2-content{
        top: -200px;
    }
    .section-2-header{
        font-size: 25px;
    }
    .section-2-btn{
        padding: 5px;
    }
    .section-2-btn a{
        font-size: 14px;
        padding: 5px 20px;
    }
    .local-section-2 .wide{
        max-height: 250px;
        overflow: hidden;
    }
    .section-3-img{
        position: relative;
        z-index: 1;
        height: 300px;
        border-radius: var(--border-radius);

    }
    .section-3-content{
        position: absolute;
        top: 30px;
        z-index: 2;
        margin-top: 0px;
    }
    .section-3-header div:first-child{
        font-size: 38px;
    }
    .section-3-btn{
        padding: 10px; 
        margin-top: 10px;
        margin-bottom: 0px;
    }
}

@media (max-width: 320px) {
    
}